@model Hotel.Models.Reserva

<h3>¿Está seguro de que desea eliminar esta reserva?</h3>
<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">ID de Reserva</dt>
        <dd class="col-sm-9">@Model.Id</dd>

        <dt class="col-sm-3">Usuario</dt>
        <dd class="col-sm-9">@Model.Usuario.NombreUsuario</dd>

        <dt class="col-sm-3">Habitación</dt>
        <dd class="col-sm-9">@Model.Habitacion.NumeroHabitacion</dd>

        <dt class="col-sm-3">Fecha de Inicio</dt>
        <dd class="col-sm-9">@Model.FechaInicio.ToShortDateString()</dd>

        <dt class="col-sm-3">Fecha de Fin</dt>
        <dd class="col-sm-9">@Model.FechaFin.ToShortDateString()</dd>
    </dl>

    <form asp-action="Delete" id="deleteForm">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <button type="button" class="btn btn-secondary" onclick="closeDeleteModal()">Cancelar</button>
    </form>
</div>