@model IEnumerable<Hotel.Models.ServiciosAdicionale>

@{
    ViewData["Title"] = "Servicios Adicionales";
}

<link rel="stylesheet" href="~/css/Servicios/servicios.css">

<div class="container mt-5">
    <h2 class="text-center mb-4">@ViewData["Title"]</h2>

    <div class="row">
        @foreach (var servicio in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    @* <img src="@servicio.ImagenUrl" class="card-img-top" alt="@servicio.Nombre"> *@
                    <img src="~/img/mantenimiento.jpg" class="card-img-top" alt="@servicio.Nombre">
                    <div class="card-body">
                        <h5 class="card-title">@servicio.Nombre</h5>
                        <p class="card-text">@servicio.Descripcion</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>